Repository zalando-nakadi/nakadi-producer-spring-boot-starter, pull requests merged in 2019-05, with the labels that each got.

#119 #83 Have performance tests
  nakadi-producer-loadtest/README.md
  nakadi-producer-loadtest/pom.xml
  nakadi-producer-loadtest/src/main/java/org/zalando/nakadiproducer/Application.java
  nakadi-producer-loadtest/src/main/java/org/zalando/nakadiproducer/event/ExampleBusinessEvent.java
  nakadi-producer-loadtest/src/main/resources/application.yaml
  nakadi-producer-loadtest/src/main/resources/db/migration/V1__create_nakadi_events_schema.sql
  nakadi-producer-loadtest/src/test/java/org/zalando/nakadiproducer/LoadTestIT.java
  nakadi-producer-loadtest/src/test/java/org/zalando/nakadiproducer/configuration/AopConfiguration.java
  nakadi-producer-loadtest/src/test/java/org/zalando/nakadiproducer/configuration/TokenConfiguration.java
  nakadi-producer-loadtest/src/test/java/org/zalando/nakadiproducer/interceptor/ProfilerInterceptor.java
  nakadi-producer-loadtest/src/test/resources/application.yaml
  nakadi-producer-loadtest/src/test/resources/docker-compose.yaml
  nakadi-producer-loadtest/src/test/resources/example-business-event.json
  pom.xml
Labels: enhancement, spring-boot-2, tests

#126 Bump versions to 20.3.0
  nakadi-producer-loadtest/pom.xml
  nakadi-producer-spring-boot-starter/pom.xml
  nakadi-producer-starter-spring-boot-2-test/pom.xml
  nakadi-producer/pom.xml
  pom.xml
Labels: spring-boot-2

#125 Backport features from v20
  CODEOWNERS
  README.md
  nakadi-producer-spring-boot-starter/pom.xml
  nakadi-producer-spring-boot-starter/src/main/java/org/zalando/nakadiproducer/NakadiProducerAutoConfiguration.java
  nakadi-producer-spring-boot-starter/src/main/java/org/zalando/nakadiproducer/flowid/NoopFlowIdComponent.java
  nakadi-producer-spring-boot-starter/src/main/java/org/zalando/nakadiproducer/flowid/TracerFlowIdComponent.java
  nakadi-producer-spring-boot-starter/src/main/java/org/zalando/nakadiproducer/snapshots/impl/SnapshotEventCreationEndpoint.java
  nakadi-producer-spring-boot-starter/src/test/java/org/zalando/nakadiproducer/LockTimeoutIT.java
  nakadi-producer-spring-boot-starter/src/test/java/org/zalando/nakadiproducer/flowid/TracerFlowIdComponentTest.java
  nakadi-producer/pom.xml
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/flowid/FlowIdComponent.java
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/MockNakadiPublishingClient.java
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/impl/EventTransmissionService.java
  nakadi-producer/src/test/java/org/zalando/nakadiproducer/transmission/impl/EventTransmissionServiceTest.java
  pom.xml
Labels: bug, snapshots, spring-boot-1

#129 Bump versions for 20.3.1
  nakadi-producer-loadtest/pom.xml
  nakadi-producer-spring-boot-starter/pom.xml
  nakadi-producer-starter-spring-boot-2-test/pom.xml
  nakadi-producer/pom.xml
  pom.xml
Labels: spring-boot-2

#130 Mention compaction problems in README, link guidelines
  README.md
Labels: documentation, nakadi-submission

#131 Mention compaction problems in README, link guidelines
  README.md
Labels: documentation, nakadi-submission, spring-boot-1
