Repository zalando-nakadi/nakadi-producer-spring-boot-starter, pull requests merged in 2019-02, with the labels that each got.

#110 #48 implement batching
  nakadi-producer-spring-boot-starter/src/test/java/org/zalando/nakadiproducer/LockingIT.java
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/MockNakadiPublishingClient.java
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/impl/EventBatcher.java
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/impl/EventTransmissionService.java
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/impl/EventTransmitter.java
  nakadi-producer/src/test/java/org/zalando/nakadiproducer/eventlog/impl/EventLogWriterTest.java
  nakadi-producer/src/test/java/org/zalando/nakadiproducer/transmission/MockNakadiPublishingClientTest.java
  nakadi-producer/src/test/java/org/zalando/nakadiproducer/transmission/impl/EventBatcherTest.java
  nakadi-producer/src/test/java/org/zalando/nakadiproducer/transmission/impl/EventTransmissionServiceTest.java
Labels: nakadi-submission, spring-boot-2

#114 release 20.1.0
  nakadi-producer-spring-boot-starter/pom.xml
  nakadi-producer-starter-spring-boot-2-test/pom.xml
  nakadi-producer/pom.xml
  pom.xml
Labels: spring-boot-2

#113 Batch event submission (#48)
  nakadi-producer-spring-boot-starter/pom.xml
  nakadi-producer-spring-boot-starter/src/test/java/org/zalando/nakadiproducer/LockingIT.java
  nakadi-producer/pom.xml
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/MockNakadiPublishingClient.java
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/impl/EventBatcher.java
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/impl/EventTransmissionService.java
  nakadi-producer/src/main/java/org/zalando/nakadiproducer/transmission/impl/EventTransmitter.java
  nakadi-producer/src/test/java/org/zalando/nakadiproducer/eventlog/impl/EventLogWriterTest.java
  nakadi-producer/src/test/java/org/zalando/nakadiproducer/transmission/MockNakadiPublishingClientTest.java
  nakadi-producer/src/test/java/org/zalando/nakadiproducer/transmission/impl/EventBatcherTest.java
  nakadi-producer/src/test/java/org/zalando/nakadiproducer/transmission/impl/EventTransmissionServiceTest.java
  pom.xml
Labels: nakadi-submission, spring-boot-1
